header { 
    background-color: #ffffff;
    height:80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: none none solid none;
    border-color: #cccccc;
    border-width: thin;
    margin:0;
    padding: 0;
}
#name { 
    color: white;
    background-color: #4aaaa5;
    display: inline-block;
    margin-right: 510px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 21px;
    padding-bottom: 23px;
}
/* .inline{
    display: inline-block;
    position: absolute;
    margin: 5px;
} */
.link{
    display: inline-block;
    padding: 1%;
    /* text-decoration:none; */
    transition: all .3s ease-in-out;
}
.link:hover{
    background-color: #4aaaa5;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 25px;
    /* text-decoration: none; */
    height: 10px;
    transform: scale(1.2);
}
.head{
    width: 960px;
    display: block;
    margin-left:15%;
}
body{
    background-image: url(https://i.stack.imgur.com/xJRXv.png\images\background.png);
    background-repeat: repeat;
    /* background-color: white; */
    margin:0;
}
.bod{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    margin-top: 2.5%;
    margin-right: 15%;
    margin-bottom: 15%;
    margin-left: 15%;
    width: 940px;
    padding: 10px;
    padding-top: 5px;
    border-style: solid;
    border-color: #dddddd;
    border-width: thin;
}
#aboutme{
    display:block;
    color: #4aaaa5;
    background-color:#ffffff;
    border-bottom-style: solid;
    border-color: #666666;
    padding-bottom: 5px;
    border-width: thin;
    font-family: Arial, Helvetica, sans-serif;
}
#image{
    float:left;
    padding-right:3%;
}
#first{
    display: block;
    Letter-spacing: 1px;
    line-height: 1.38;
    margin: 2%;
    padding-bottom: 0%;
}
#second{
    display: block;
    Letter-spacing: 1px;
    line-height: 1.38;
}
footer{
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 25px;
    margin:0;
    padding-bottom: 8px;
    border-top-style: solid;
    border-color: #4aaaa5; 
    border-width: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#portfolio{
    display:block;
    color: #4aaaa5;
    background-color:#ffffff;
    border-bottom-style: solid;
    border-color: #666666;
    padding-bottom: 5px;
    border-width: thin;
    font-family: Arial, Helvetica, sans-serif;
}
#contact{
    display:block;
    color: #4aaaa5;
    background-color:#ffffff;
    border-bottom-style: solid;
    border-color: #666666;
    padding-bottom: 5px;
    border-width: thin;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    border-style:solid;
    Border-color: #666666;
    border-width: thin;
    width:99.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.message{
    width: 99.5%;
    height: 250px;
    border-style:solid;
    Border-color: #666666;
    border-width: thin;
    font-family: Arial, Helvetica, sans-serif;
}
#button{
    background-color: #4aaaa5;
    color:white;
    border:none;
    width: 80px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.container {
    position: relative;
    width: 280px;
    height: 220px;
    display: inline-block;
    margin: 15px;
  }
.text-block {
    position: absolute; 
    bottom: 5px;
    right: 0.1px;
    left: 0.1px;
    padding: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }